.Rproj.user
.Rhistory
.RData
.DS_Store
src/*.o
src/*.so
src/*.dll
src-i386/*.dll
src-i386/*.so
src-i386/*.o
src-i386/*.cpp
src-x64/*.dll
src-x64/*.so
src-x64/*.o
src-x64/*.cpp
Rprof.out
docs/*.*
docs/reference/*.html
docs/
openxlsx.Rcheck/
openxlsx*.tar.gz
openxlsx*.tgz
vignettes/*