*.html
addStyle.html
addWorksheet.html
all.equal.html
cloneWorksheet.html
conditionalFormat.html
conditionalFormatting.html
convertFromExcelRef.html
convertToDate.html
convertToDateTime.html
copyWorkbook.html
createComment.html
createNamedRegion.html
createStyle.html
createWorkbook.html
dataValidation.html
deleteData.html
freezePane.html
getBaseFont.html
getCellRefs.html
getDateOrigin.html
getNamedRegions.html
getSheetNames.html
getStyles.html
getTables.html
index.html
insertImage.html
insertPlot.html
int2col.html
loadWorkbook.html
makeHyperlinkString.html
mergeCells.html
modifyBaseFont.html
names.html
openXL.html
openxlsx.html
pageBreak.html
pageSetup.html
protectWorkbook.html
protectWorksheet.html
read.xlsx.html
readWorkbook.html
removeCellMerge.html
removeColWidths.html
removeComment.html
removeFilter.html
removeRowHeights.html
removeTable.html
removeWorksheet.html
renameWorksheet.html
replaceStyle.html
saveWorkbook.html
setColWidths.html
setFooter.html
setHeader.html
setHeaderFooter.html
setRowHeights.html
sheetVisibility.html
sheetVisible.html
sheets.html
showGridLines.html
worksheetOrder.html
write.xlsx.html
writeComment.html
writeData.html
writeDataTable.html
writeFormula.html
writeXLSX2.xlsx
