on: push

name: revdep

jobs:
  revdep:
    runs-on: ${{ matrix.config.os }}
    name: ${{ matrix.config.os }} (${{ matrix.config.r }})
    strategy:
      fail-fast: false
      matrix:
        config:
        - {os: ubuntu-20.04, r: 'release'}
  
    env:
      R_REMOTES_NO_ERRORS_FROM_WARNINGS: true
      CRAN: ${{ matrix.config.r }}
  
    steps:
      - uses: actions/checkout@v2
      - uses: r-lib/actions/setup-r@v1
        with:
          r-version: ${{ matrix.config.r }}
  
      - uses: r-lib/actions/setup-pandoc@v1
      
      - name: Cache R packages
        uses: actions/cache@v2
        with:
          path: ${{ env.R_LIBS_USER }}
          key: ${{ runner.os }}-r-${{ matrix.config.r }}-${{ hashFiles('DESCRIPTION') }}
  
      - name: Install dependencies
        run: |
          install.packages("remotes", repos = "https://cran.rstudio.com")
          remotes::install_deps(dependencies = TRUE)
          remotes::install_github("r-lib/revdepcheck")
        shell: Rscript {0}
          
      - name: Revdepcheck
        run: Rscript -e "revdepcheck::revdep_reset()" -e "revdepcheck::revdep_check(num_workers=4)"
      
      - name: Upload check results
        uses: actions/upload-artifact@v2
        with:
          name: ${{ runner.os }}-r${{ matrix.config.r }}-results
          path: revdep/